<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $("#google_new_form_id").validate({
	success: "valid",
	onkeyup: true,
  	onclick: true,
  	onchange : true
	});
    });
  </script>
<% end %>
<div class="inner"><p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/google.png') %>
										<%= image_tag('/stylesheets/backend/assets/icons/big_icons/google_title.png',:id => 'big_title') %>
										</p>
										<h1>Edit event</h1>
										<%= link_to("<< Back to list", {:action => 'index'}, :class => 'button_link') %>
<div>&nbsp;</div>	
<%= render :partial => 'form' %>
</div>
