<table style='width: 100%'>
	<tr>
		<td style='vertical-align:top;'>
			<h3>Calendars</h3>
			<%= render :partial => 'calendars' %>
		</td>
		<td>
			<h3>Events</h3>
			<%= render :partial => 'events'%>
		</td>
	</tr>
</table>