<!-- =Message board -->
			<aside>
				<h2 class="grid_12 message_board clearfix">Admin Google Calendar</h2>
			</aside>
<section id="left_col" class="grid_12">
<section id="contact_form">

<div class="hr dotted clearfix">&nbsp;</div>
			<h4 class="form_title">Calendars</h4>
			
			<%= render :partial => 'calendars' %>
		
			<h4 class="form_title">Events</h4>
			
			<%= render :partial => 'events'%>
		</section>
		</section