<div class="inner">
<h1>Google Agenda Sync</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum, risus lacinia scelerisque facilisis, tellus felis tristique mauris, nec dignissim felis mi ac quam. Nulla at justo eget augue congue feugiat vel ut leo. Vestibulum magna sem, sollicitudin nec gravida vel, feugiat viverra eros.</p>


<div id="box"> 
<fieldset>
						<legend>Google Login</legend>
<% form_for '', :html => { :id => "contact_form_id" }, :url => {:action => :verify} do %>
			<p>
			<label for="name">Username</label>
			<%= text_field_tag :username, @username,{:class => "lf"} %>
			</p>
			<p>
			<label for="name">Password</label>
			<%= password_field_tag :password, @password,{:class => "lf"} %>
			</p>
			<p>
			<%= submit_tag 'Google Login',:class => "button_link" %>
			</p>
<% end %>
</fieldset>
</div> 

</div>