<!-- =Message board -->
			<aside>
				<h2 class="grid_12 message_board clearfix">Admin Panel Google Calendar</h2>
			</aside>
			<div class="hr grid_12 clearfix boxhr">&nbsp;</div>
<section id="left_col" class="grid_12">
<section id="contact_form">
<div class="hr dotted clearfix">&nbsp;</div>
<h4 class="form_title">Create Event</h4>
<div class="hr dotted clearfix">&nbsp;</div>
<%= render :partial => 'form' %>
</section>
</section>