<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $(".datum").trigger("click");
    });
  </script>
<% end %>

<div class="inner">
				
										<h1>New Google Agenda Event</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum, risus lacinia scelerisque facilisis, tellus felis tristique mauris, nec dignissim felis mi ac quam. Nulla at justo eget augue congue feugiat vel ut leo. Vestibulum magna sem, sollicitudin nec gravida vel, feugiat viverra eros.</p>
<%= render :partial => 'form' %>
</div>