<table summary="update track">
		<tr>
			<th>Name</th>
			<td><%= f.text_field(:name)%></td>
		</tr>
		<tr>
			<th>MP3</th>
			<td><%= f.text_field(:mp3)%></td>
		</tr>
		<tr>
			<th>OGA</th>
			<td><%= f.text_field(:oga)%></td>
		</tr>
		<tr>
			<th>Song</th>
			<td><%= f.file_field(:song) %></td>
		</tr>
	</table>