	<aside>
				<h2 class="grid_12 message_board clearfix">Skarminkel Sounds</h2>
			</aside>
<section id="left_col" class="grid_12">
<section>
				<div id="audio_wrapper"> 
      <h1>Songs</h1>
      
      
      <audio preload></audio> 
      <ol> 
      <% @tracks.each do |track|%>
     <li><a href="" data-src="<%= track.song.url %>"><%= track.name %></a></li>
      <% end %>
      </ol> 
    </div> 
    <div id="shortcuts"> 
      <div> 
        <h1>Keyboard shortcuts:</h1> 
        <p><em>&rarr;</em> Next track</p> 
        <p><em>&larr;</em> Previous track</p> 
        <p><em>Space</em> Play/pause</p> 
      </div> 
    </div>
    <%= javascript_include_tag 'audio','playlist'%>
     </section>
     </section>