<fieldset>
	<legend>Social Message</legend> 
<span class="counter"></span> <br />
<div class="clear">&nbsp;</div>
<%= t.text_area(:content, :rows => 5, :cols => 50, :class => "word_count required",:maxlength => "140")%><br />
	
