/* CSS for IE */

body,html{
overflow: auto;
}

.year {
margin-right: 40px;
position: absolute;
float:right;
left: 75px;
top: 21px;
	height: 40px;
  padding: 0;
  font-size: 32px;
  rotation: -90deg !important;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* IE fix  */
  }

.day { 

margin-top: -15px;
float:left;
  font-size: 50px;
  margin-right:3px;
  }
 
.more_news_link {
	border: 1px solid #777c82;
	background: grey; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#dddddd); /* for IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#dddddd)"; /* for IE */
	font-size: 11px;
	margin: -3px 0 0 0;
	font-weight: bold;
	padding: 3px 8px;
	color: white;
	text-decoration: none
	}

#navigation p{
color : red;
}
