@font-face {
    font-family: 'Rock Salt';
    src: url('fonts/RockSalt-webfont.eot');
    src: url('fonts/RockSalt-webfont.eot?#iefix') format('eot'),
         url('fonts/RockSalt-webfont.woff') format('woff'),
         url('fonts/RockSalt-webfont.ttf') format('truetype'),
         url('fonts/RockSalt-webfont.svg#webfontCOxZFOKy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoodDogRegular';
    src: url('fonts/GoodDog-webfont.eot');
    src: url('fonts/GoodDog-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/GoodDog-webfont.woff') format('woff'),
         url('fonts/GoodDog-webfont.ttf') format('truetype'),
         url('fonts/GoodDog-webfont.svg#GoodDogRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px solid;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:30px;
    border:0;  
    border-bottom: 1px solid black; 
    /* background-image: url('../images/hr.png'); */
    margin:1em 0;
    margin-bottom: 20px;
}


input, select {
    vertical-align:middle;
}

/* END Reset Stylesheet */



/* =HTML5 tags */
article, aside, section, footer, header, hgroup, nav, figure {
	display: block;
	margin: 0;
	padding: 0;
	}

article.news {
padding:5px;
}

/* Global Styles =body =skins
-------------------------------------------------------------- */
body {
	background:transparent;/* #283138 */
	background-image: url(../images/wood2.jpg);
	font-size: 12px;
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
	color: #000;
	}


/* =a
-------------------------------------------------------------- */
a {
	color: #506b80;
	text-decoration: none;
	}

a:focus {outline: none;}

a:hover {
	text-decoration: underline;
	}

a span {font-size: 90%;}

a img {outline:0;}


/* =a text and UI =buttons =textlink
-------------------------------------------------------------- */
.textlink {}

a.textlink, #search_button, .pagination a, .prev, .next ,.more_news_link {
	border: 1px solid #777c82;
	background: #f1f1f1; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#dddddd); /* for IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#dddddd)"; /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #ddd); /* for firefox 3.6+ */
	font-size: 11px;
	margin: -3px 0 0 0;
	font-weight: bold;
	padding: 3px 8px;
	color: #333;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-decoration: none
	}

.more_news_link {
	border: 1px solid #777c82;
	background: #f1f1f1; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#333333,endColorStr=#333333); /* for IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#333333,endColorStr=#333333)"; /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#333333)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #333333,  #333333); /* for firefox 3.6+ */
	font-size: 11px;
	margin: -3px 0 0 0;
	font-weight: bold;
	padding: 3px 8px;
	color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-decoration: none
	}

.post a.textlinkcolor #search_button{}
.post a.textlinkcolor:hover #search_button{text-decoration: underline}

.view_all .textlink #search_button{padding: 10px;}

.toplink {
	color: #777c82;
	border: none;
	background: #222;
	padding: 0 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	}

.toplink:hover {
	color: #fff;
	border: none;
	background: #111;
	text-decoration: none
	}

.footer .toplink:hover {text-decoration: none}

a.textlink:hover, #search_button, .pagination a:hover, .prev:hover, .next:hover,   {
	background: #333;
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#333333,endColorStr=#333333); /* for IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#333333,endColorStr=#333333)"; /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#333333)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #333333,  #333333); /* for firefox 3.6+ */
	color: #fff;
	border: 1px solid #333;
	text-decoration: none
	}

/* .catlink */
.catlink {
	background: #333;
	color: #ccc;
	font-size: 11px;
	padding: 3px 5px;
	margin: 0 0 0 6px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-decoration: none;
	}

/* .catlink =skins */
.catlink:hover {
	background: #506b80; /* Standard dev */
	color: #fff;
	text-decoration: none;
	}


.commentlink {
	float: right;
	background: url(../images/header.png) -309px -9px no-repeat;
	width: 30px;
	text-align: center;
	font-weight: bold;
	color: #333;
	margin-top: 0;
	padding-bottom: 4px;
	font-size: 11px;
	text-decoration: none;
	}

.commentlink:hover {text-decoration: none}

/*.social_icon {
	margin-right: 10px;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 5px
	}*/

/* =Google Calendar & Gigs
-------------------------------------------------------------- */

#gcal0,#event0,#event4{
background-image: url(../images/gcal0.png);

}

#gcal1,#event1,#event3{
background-image: url(../images/gcal1.png);
}

#gcal2,#event2{
background-image: url(../images/gcal0.png);
}

#gcal3,#event3,#event5{
background-image: url(../images/gcal6.png);
}

/* = Popular News
-------------------------------------------------------------- */

#sub0{
background-image: url(../images/gcal1.png);
}

#sub1{
background-image: url(../images/gcal0.png);
}

#sub2{
background-image: url(../images/gcal6.png);
}
#sub3{
background-image: url(../images/gcal0.png);
}


/* =Search
-------------------------------------------------------------- */
.search_text {
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
	color: #333;
	margin-right: 10px
	}


/* =Twitter
-------------------------------------------------------------- 
#twitter {
	background: #fff;
	list-style: none
	}

#twitter h4 a {

	}

.twitter_update_list li {list-style: none}
*/


img.twitter {
	margin: 3px 10px 0 0;
	padding: 5px 10 0 0;
	border: none
	}





/* =Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
/*	border-bottom: 1px solid #777c82;*/
	margin-left: 40px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-size: 11px;
	font-weight: bold;
	color: #777c82;
	font-family: Helvetica;
	font-weight: normal;
	}

.breadcrumbs a {
	color: #000000;
	text-decoration: none;
	}

.breadcrumbs a:hover {color: #ff0000;text-decoration: none;}



/* =Social Profiles =icons =social_rofiles
-------------------------------------------------------------- */
ul.social_profiles {
/*	background: #fff;*/
	min-height: 60px;
	width: 250px;
	margin: 0 0 20px 0;
	padding: 0 16px;
	}

ul.social_profiles li {
	margin: 0 0 7px 7px;
	}

.boxgrid ul.social_profiles {
	width: 200px;
	margin-left: -5px;
	}

ul.social_profiles img {border: none}


/* =View All Links
-------------------------------------------------------------- */
.view_all {
	margin-top: 0;
	border-bottom: 1px solid #777c82;
	padding-top: 20px;
	padding-bottom: 18px;
	}

.view_all a {
	float: right;
	}

.grid_12.view_all {
	margin-left: 30px;
	margin-right: 30px;
	}


h1 {font-size: 42px;}

h2 {font-size: 36px;font-family: 'Rock Salt', arial, serif; font-weight: normal;}

.new_contact h2{font-size: 36px;font-family: 'Rock Salt', arial, serif; font-weight: normal; color: gray;margin-top: 5px;padding-top: 15px;}

h3 {font-size: 30px;}

h4 {font-size: 24px; }

h5 {font-size: 21px;}

h6 {font-size: 18px;}

ol {list-style: decimal;}
 
ul {list-style:none;}

/* =li */
li {
	margin-left: 20px;
	position: relative;
	/*
list-style-type: disc;
	list-style-image: url(../images/bullet.png);
*/
	list-style-position: inside;
	
	}

/* =p */
p {
	color: #333;
	font-size: 14px;
	}

p,
li,
dl {line-height: 21px;}


p,
dl,
hr,
ol,
ul,
pre,
table,
address,
fieldset {
	margin-bottom: 20px;
	}

/* =utilities */
.utilities {
	padding-top: 20px;
	padding-bottom: 20px;
	background: transparent
	}

/*.utilities .like {height: 30px}*/

p.utilities {margin-bottom: 0;}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 10px;
	}

/* =img - first of some */
img {
	margin-bottom: 0;
	}

img.float_left {
	border:none;
    float: left;
    margin: 5px 20px 10px 0;
	}

img.float_right {
    float: right;
    margin: 5px 0 10px 20px;
	}


.post img {margin-bottom: 15px;}


blockquote {
	font-size: 12px;
	line-height: 18px;
	color: #777c82;
	font-style: italic;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 50px;
	padding-left: 15px;
	border-left: 2px solid #777c82;
	width: 85%
	}


/* =wrapper =skins */
#wrapper {
	margin: 0;
	padding: 0;
	background: transparent url(../images/wrapper-BG.png) center repeat-y;
	}

#container {background: #d6d9dd url(../images/container-BG.png) 0 90px no-repeat;

}

ul li ul,
ol li ol {margin-bottom: 0px;}

ol {padding: 0 0 0 5px;}


/* 960gs Grid support */
.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	}

.float {
	display: inline;
	float: left;
	position: relative;
	}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12{
	display: inline;
	float: left;
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	filter:alpha(opacity=95);
        -moz-opacity:0.95;
        -khtml-opacity: 0.95;
        opacity: 0.95;
      
	}

.container_12 .grid_1 {width: 45px;}
.container_12 .grid_2 {width: 130px;}
.container_12 .grid_3 {width: 210px;height:auto;margin: 0;float: left;padding:5px;}
.container_12 .grid_4 {width: 280px;}
.container_12 .grid_5 {width: 385px;}
.container_12 .grid_6 {width: 450px; height: 250px;padding:5px;margin: 0;float: left;}
.container_12 .grid_7 {width: 555px;}
.container_12 .grid_8 {width: 640px;}
.container_12 .grid_9 {width: 725px;}
.container_12 .grid_10 {width: 810px;}
.container_12 .grid_11 {width: 895px;}
.container_12 .grid_12 {width: 960px;}
	

/* =Misc =hr =portolio stuffs
-------------------------------------------------------------- */
.hr {
	border:none;
	clear: both;
	height: 0;
	line-height: 0;
	width: 100%;
	font-size: 0;
	padding: 0;
	margin-bottom: 20px;
	}

.pr {
	border: none;
	border-bottom: 1px solid #777c82;
	clear: both;
	height: 0;
	line-height: 0;
	width: 100%;
	font-size: 0;
	padding: 0;
	margin-bottom: 30px;
	margin-left: 30px;
	}

.meta {
	font-weight: normal;
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #777c82 !important;
	line-height: 16px;
	text-transform: none; 
	text-shadow: none;
	}

.right {float:right;}

.left {float:left;}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	}

.page_title {
	border-top: 1px solid #777c82;
	padding-top: 30px
	}




/* =Header
-------------------------------------------------------------- */
#header {
	margin: 0;
	padding: 0;	

	background: #000 url(../images/test.png);

	/* border-bottom: 3px solid #333; */
	width: 1020px;
	z-index: 1000;
	min-height: 90px;
	}

	
/* =Logo
-------------------------------------------------------------- */
h1#logo {
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding: 30px 0 0 30px;
	color: #fff;
	background-image: url(../images/skarminkels_backend.png);
	height: auto;
	}

h1#logo img {
	border: none;
	margin: 0;
	}


h1#logo.grid_4 {width: 190px}

h4.news_title_odd{
margin : 0px;
padding-top: 5px;
padding-bottom: 3px;
border-top: 15px solid #F30;
}

h4.news_title_even{
margin-bottom: 20px;
padding-bottom: 15px;
padding-top: 5px;
border-top: 15px solid #777c82;
}
/* =Menu =navigation
-------------------------------------------------------------- */
ul#navigation {
	text-transform: uppercase;
	float: right;
	width: 100%;
	margin-top: 1px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0;
	}

ul#navigation li {
	float: right;
	display: inline;
	margin: 0 0 0 1px;
	}

ul#navigation li a {
	display: block;
	font-family: 'Rock Salt', arial, serif !important;
	font-weight: normal;
	padding: 15px 30px 15px 30px;
	text-decoration: none;
	color: #bbb;
	font-size: 12px;
	font-weight: bold;
	}

ul#navigation li a:hover {
	color: #fff;
	}

ul#navigation li a.current {
	background: #000;
	color: #fff;
	border-left: 1px solid #111;
	border-right: 1px solid #111;
	border-bottom: 6px solid #777c82;
	}

/* =submenu */
ul#navigation ul {
	display: none;
	position: absolute;
	top: 64px;
	left: 0;
	/* Menu shadows */
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
	width: 170px;
	z-index: 99999;
	padding-top: 0;
	padding-bottom: 10px;
	margin: 0;
	background: #000;
	border-top: 25px solid #000;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	}

ul#navigation ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 170px;
	/* Menu shadows */
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
	width: 170px;
	z-index: 99999;
	padding-top: 0;
	padding-bottom: 10px;
	margin: 0;
	background: #000;
	border-top: 4px solid #000;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	}

ul#navigation ul li {width: 100%;}

ul#navigation ul li a,
ul#navigation ul ul li a {
	background: #000;
	display: block;
	padding: 10px 15px;
	margin: 0;
	color: #ccc;
	border-right :none;
	font-size: 11px;
	}

ul#navigation ul li a:hover {
	background: #222;
	color: #fff;
	}


ul#navigation ul ul ul {
	left: 100%;
	top: -4px;
	}

/* =Pagination Ruby
-------------------------------------------------------------- */

.pagination{
width: 100%;
height: auto;
padding-left: 30px;
margin: 0;
}

span.previous_page.disabled,em {
color : red;
}

/* =Left Column
-------------------------------------------------------------- */
#left_col {
	margin-left: 30px;
	margin-right: 0;
	margin-bottom: 25px;
	padding: 5px;
	}


/* =Right Column / =Sidebar
-------------------------------------------------------------- */
#sidebar_right {
	margin-left: 30px;
	margin-right: 30px;
	width: 290px;	
	background: transparent url(../images/sidebar-BG.png) repeat-y;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

.sidebar_top_BG {
	height: 10px;
	background: transparent url(../images/sidebar-top-BG.png) top no-repeat;
	}

.sidebar_bottom_BG {
	height: 50px;
	background: transparent url(../images/sidebar-bottom-BG.png) bottom no-repeat;
	}

#sidebar_right h3 {
	color: #333;
	font-size: 24px;
	border-bottom: 3px solid #777c82;
	width: 250px;
	padding: 10px 0;
	margin: 0 20px;
	background: transparent;
	float: right;
	}

ul.contact_data {
	margin-left: 0;
	margin-top: 0;
	}

ul.contact_data li {list-style: none}

img.sidebar_ads {border: none}

/*.history,*/
.history p {
	font-size: 11px;
	line-height: 18px;
	margin-top: -10px;
	padding: 0 20px;
	}

/* =sidebar list
-------------------------------------------------------------- */
ul.sidebar {
	list-style: none;
	margin: 0 0 30px 0;
	padding: 0;
	}

ul.sidebar li {
	margin: 0;
	padding: 0 20px;
	list-style: none
	}

ul.sidebar a {
	width: 225px; /* become 290px with padding */
	display: inline-block;
	padding: 10px 0 10px 25px;
	border-bottom: 1px solid #777c82;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	background: transparent url(../images/header.png) -600px -120px no-repeat;
	}

ul.sidebar li:last-child a {
/*	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;*/
	}

ul.sidebar li:first-child a {
/*	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;*/
	}
	
ul.sidebar a:hover {
	background: #777c82 url(../images/header.png) -600px -180px no-repeat;
	color: #fff
	}




/* =message_board
 * =heading_page
-------------------------------------------------------------- */
.message_board.grid_12,
.heading_page.grid_12 {
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
/*	border-top: 1px dashed #777c82;*/
	/* border-bottom: 1px dashed #777c82; */
	line-height: 36px
	}

.message_board {
	background: transparent url(../images/mboard_BG-trans.png) top center no-repeat;
	padding-top: 25px;
	padding-bottom: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */  
	}

.heading_page {
	background: transparent;
	padding-top: 10px;
	padding-bottom: 20px;
	}


h2.message_board,
h2.heading_page {
/*	color: #fff;*/
/*	text-shadow: 1px 1px 1px #cfcfcf;*/
	font-size: 26px;
	line-height: 30px;
	font-weight: normal;
	color: #777c82;
	margin-bottom: 0
	}

h2.message_board span,
h2.heading_page span {
	color: #333;
	font-weight: bold;
	}

h2.message_board a:hover,
h2.heading_page a:hover {text-decoration: underline;}


/* Homepage =boxes
-------------------------------------------------------------- */
.box_entries,
#box_more {background: transparent}

.box_entries.grid_12,
#box_more.grid_12 {
	margin-left: 30px;
	margin-right: 30px
	}

h3.box_title,
h4.box_title {
	color: #333;
	padding-top: 20px;
	font-weight: bold;
	margin-bottom: 15px;
	
	}

a .title {
	color: #777c82;
	line-height: 24px;
	font-size: 14px
	}


#navigation p:not(a){
color : red;
font-size: 30px;
margin-top: 20px;
font-family: 'Rock Salt', arial, serif;
font-weight: normal;

}
#navigation li p a{

margin-top: -10px;
}

#navigation li p a:hover{
-moz-transform:  scale(1.3);
-webkit-transform : scale(1.3);
color : red ;
margin-top: -10px;
font-family: 'Rock Salt', arial, serif;
font-weight: normal;
}

/*a .title:hover {color: #777c82;}*/

/* =boxgrid */
.boxgrid {
	width: 204px;
	display: inline;
	float: right;
	position: relative;
	margin-right: 1px;
	margin-bottom: 1px;
	padding: 20px 20px 0 15px;
	min-height: 280px;
	overflow: hidden;
	
	}

/* =rounded =corners homepage grid */
.boxgrid.tl {
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	
	}

.boxgrid.tl:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 16px 16px 0; /* This trick side-steps a webkit bug */
    border-style:solid;
    border-color:#D5D8DC #D5D8DC #3D3D3D #3D3D3D; /* A bit more verbose to work with .rounded too */
    background:#3D3D3D; /* For Opera when also applying a border-radius */
    display:block; width:0; /* Only for Firefox 3.0 damage limitation */
    /* Optional: shadow */
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
       -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
            box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
     border-width:8px; /* Triggers a 1px 'step' along the diagonal in Safari 5 (and Chrome 10) */
    border-color:#D5D8DC #D5D8DC transparent transparent; /* Avoids the 1px 'step' in webkit. Background colour shows through */
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius:0 0 0 4px;
    border-radius:0 0 0 4px;
}

.boxgrid.tr {
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	}

.boxgrid.bl {
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	}

.boxgrid.br {
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	}


.boxgrid.fourth {width: 196px;}

.boxgrid p {
	font-size: 12px;
	color: #777c82;
	text-decoration: none
	font-family: 'Rock Salt', arial, serif;
	font-weight: normal;
	}

a.boxgrid {text-decoration: none}

.boxgrid h4 {
	margin-bottom: 10px;
	color: #fff
	}

.boxgrid h4 a {color: #fff}
.boxgrid h4 a:hover {text-decoration: none}


.boxgrid img:before{/* border: 1px solid #000; */
-moz-box-shadow: inset 10px 10px 10px #000; /* for Firefox 3.5+ */
   	-webkit-box-shadow: inset 10px 10px 10px #000; /* for Safari and Chrome */
   	box-shadow: inset 10px 10px 10px #000; /* CSS 3 Spec */
   	 -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
       -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
            box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

.box {background: #000;}

.box:hover {
	background: #333;
	text-decoration: none
	}
	
.boxhr {margin-bottom: 0;}

.box.alpha {
	margin-left: 0;
/*	width: 197px;*/
	}

.boxgrid .title {font-size: 14px}

/* Dates
---------------------------------------------------------------*/

.date {
  position: relative;
  font-family: Georgia, serif;
  color: #999;
 }

 
.day { 

margin-top: -20px;
float:left;
  font-size: 50px;
  padding: 0;

  }
 
.month {
width: auto;
margin-top: 2px;
margin-left: 0;
 
  font-size: 26px;
  }

.info_event{
margin-top : 45px;
padding-bottom: 4px;
margin-bottom: 0;
color: #999;
}

.e_title, .info_event.name{
margin-top: 0;
padding-bottom: 2px;
font-size: 30px;
height: 50px;
}

p.e_loc,p.e_time{
font-size: 16px;
}


.year {
margin-right: 40px;
position: absolute;
float:right;
left: 63px;
top: 38px;
	height: 40px;
  padding: 0;
  font-size: 32px;
  rotation: -90deg !important;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* IE fix  */
  }
  
#twitter_update_list{
width: 80%;
}

#twitter_update_list img{
border: none;
padding: 5px;
float: left;
}

p.tweet_content{
padding-top: 20px;
font-family: 'Rock Salt', arial, serif;
font-weight: normal;
height: 80px;
overflow: hidden;
}

/* Common =scroller styles
-------------------------------------------------------------- */
.roundabout-holder {
	list-style: none;
	width: 500px;
	height: 300px;
	margin: 0px auto;
	}

.roundabout-moveable-item {
	font-size: 12px !important;
	height: 300px;
	width: 600px;
	cursor: pointer;
	padding: 5px;
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	background:#f9f9f9;
	}

.roundabout-moveable-item img {
	height:100%;
	width: 100%;
	background-color: #fff;
	margin: 0;
	}

.roundabout-in-focus {cursor:auto;}

.roundabout-in-focus:hover {
	-webkit-box-shadow:0px 0px 20px #787878;
	-moz-box-shadow: 0px 0px 20px #787878;
	background: #f9f9f9;
	}

.roundabout-holder span {
	display: none;
	font-size: 12px;
	}

.roundabout-in-focus:hover span {
	display: inline;
	position: absolute;
	bottom: 5px;
	right: 5px;
	padding: 8px 20px;
	background: #f9f9f9;
	color: #000;
	z-index: 999;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topLeft: 5px;
	font-size : 12px;
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
	}

.roundabout a:active,
.roundabout a:focus,
.roundabout a:visited {
	outline: none;
	text-decoration: none;
	}
	
.roundabou li {margin: 0}



/* =slider =featured
-------------------------------------------------------------- */
#featured.grid_12 {
	margin: 0 10px 0 10px;
	padding-top: 20px;
	background: transparent url(../images/slider-BG.png) top center no-repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */  
	}

#featured {
	margin: 30px 0 0 0;
	padding: 0 20px 0 20px;
	}

#coin-slider {
	margin: 0;
	padding: 0;
	}

#coin-slider .hentry {
	margin: 0;
	padding: 0;
	border-bottom: none;
	}

#coin-slider .hentry a {
	border-bottom: none;
	text-decoration: none
	}

.coin-slider {
	overflow: hidden; zoom: 1;
	position: relative;
	z-index: 1;
	margin: 0 auto;
	/*background: transparent url(../images/slider_BG.png) bottom center no-repeat;*/
	background: #000;
	/*border-bottom: 1px solid #777c82;*/
	width: 960px;
	
	/*-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;*/
	
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	/*border: 1px solid #777c82*/
	}

.coin-slider a {
	text-decoration: none;
	outline: none;
	border: none;
	}

.cs-buttons {
	padding: 20px 15px 20px 15px;
	float: left;
	}

.cs-buttons a {
	height: 10px;
	width: 10px;
	float: left;
	color: #777c82;
	text-indent: -9999px;
	background: transparent url(../images/header.png) -50px -10px no-repeat;
	padding-right: 5px;
	margin-right: 5px;
	}

/* =cs-buttons =skins */
.cs-buttons a:hover,
.cs-buttons a.cs-active {background: transparent url(../images/header.png) -50px -330px no-repeat;}

.cs-title {
	width: 920px; 
	padding: 15px 20px 10px 20px;
	background: #000;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	}

.cs-next, .cs-prev {
	color: #fff;
	padding: 0;
	height: 50px;
	width: 50px;
	text-indent: -9999px;
/*	margin-top: -55px;*/
	}

.cs-prev {background: transparent url(../images/header.png) -100px -10px no-repeat;}
.cs-prev:hover {background: transparent url(../images/header.png) -100px -70px no-repeat;}

.cs-next {background: transparent url(../images/header.png) -180px -10px no-repeat;}
.cs-next:hover {background: transparent url(../images/header.png) -180px -70px no-repeat;}

.slider_item_desc {
	position: absolute;
	top: 150px;
	}

/*#coin-slider .hentry {
	border: none;
	margin: 0;
	padding: 0;
	}*/

.slider_post_title {
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	}

.slider_post_text {
	font-size: 14px;
	color: #777c82;
	}


/* =Portfolio
-------------------------------------------------------------- */	
.portfolio_cat_group {
	margin: 0 30px;
	padding: 0;
	}

.textright {text-align: left;}

.grid_3.textright {
	margin-left: 0;
	margin-right: 20px;
	width: 260px;
	}

.grid_9.portfolio_items_group {
	margin: 0;
	padding: 0 0 0 30px;
	width: 650px;
/*	background: #fff;
	border-left: 1px solid #ccc*/
	}

.portfolio_item {
	width: 196px;
	position: relative;
	margin: 0 10px 30px 20px;
	}

.grid_6 p{

	margin: 0;
	}

.left_zero {
	margin-left: 0;
	padding-left: 0;
	}

.right_zero {
	margin-right: 0;
	padding-right: 0;
	}

.portfolio_item img {
	
	border: 1px solid #000;
	width: 196px;
	height: 145px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: #000;
	padding-bottom: 3px;
	padding-right: 3px;
	
	}

.portfolio_item span {
	display:none;
	line-height: 14px
	}



a.portfolio_item {text-decoration: none}

a.portfolio_item:hover {
	text-decoration: none;
	}

.portfolio_item:hover img {
	-webkit-box-shadow:0px 0px 10px #777c82;
	-moz-box-shadow: 0px 0px 10px #777c82;
	background: #000;
	}

.portfolio_item:hover span {
	display: inline;
	position: absolute;
	bottom: 8px;
	right: -2px;
	width: 128px;
	text-align: right;
	padding: 10px 10px 10px 60px;
	background: transparent;
	color: #fff;
	z-index: 999;
	border-left: 1px solid #000;
	border-top:1px solid #000;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topLeft: 5px;
	text-decoration: none;
	}

/* =photo/video/link mini */
.portfolio_item.isphoto_mini span,
.portfolio_item.isvideo_mini span,
.portfolio_item.islink_mini span {
	display: inline;
	position: absolute;
	bottom: 8px;
	right: -2px;
	width: 128px;
	text-align: right;
	padding: 10px 10px 10px 60px;
	color: #ccc;
	z-index: 999;
	text-decoration: none;
	}

.portfolio_item.isphoto_mini span {background: transparent url(../images/header.png) scroll -730px -360px no-repeat;}
.portfolio_item.isvideo_mini span {background: transparent url(../images/header.png) scroll -730px -285px no-repeat;}
.portfolio_item.islink_mini span {background: transparent url(../images/header.png) scroll -730px -370px no-repeat;}


.portfolio_item.isphoto_mini:hover span,
.portfolio_item.isvideo_mini:hover span,
.portfolio_item.islink_mini:hover span {
/*	display: inline;
	position: absolute;
	bottom: 8px;
	right: -2px;
	width: 128px;
	text-align: right;
	padding: 10px 10px 10px 60px;
	color: #ccc;
	z-index: 999;
	text-decoration: none;*/
	color: #fff;
	}

.portfolio_item.isphoto_mini:hover span {background: transparent url(../images/header.png) scroll -730px -240px no-repeat;}
.portfolio_item.isvideo_mini:hover span {background: transparent url(../images/header.png) scroll -730px -285px no-repeat;}
.portfolio_item.islink_mini:hover span {background: transparent url(../images/header.png) scroll -730px -320px no-repeat;}

p.portfolio_cat_desc {
	font-size: 11px;
	line-height: 18px
	}

#contact_image{
float: right;
overflow: hidden;
margin-right: 10px;
border: none;
}

#messageBox label.error{
color: red;
font-size: 12px;
margin: 0;
padding: 2px;
}

label.error valid{
background-image: url(../images/check32.png);
height: 20px;
float: right;
}

form.new_contact{
height: auto;
width: 100%;
float: left;
color: #201D1D;
background-image: url(../images/contact_bg.png);
padding-left: 10px;
-moz-box-shadow: 5px 5px 5px black;
-webkit-box-shadow: 5px 5px 5px black;
box-shadow: 5px 5px 5px black;
}

article.video{
width: 400px;
height: 250px;
margin-top: 0px;
margin-bottom: 30px;
padding:0px;
-moz-box-shadow: 5px 5px 5px black;
-webkit-box-shadow: 5px 5px 5px black;
box-shadow: 5px 5px 5px black;
}

#photo_stack{
border-image: url('../images/polaroid.png') 27 27 27 27 round round;
background-image: url('../images/polaroid.png');
 padding: 10px 10px 15px;
left: 15px;
margin-bottom: 15px;
background-color: black;
border-left: 10px solid #FFF;
border-right: 10px solid #FFF;
border-top: 10px solid #FFF;
border-bottom: 35px solid #FFF;
height: 150px;
width: 180px;
background-color: black;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	z-index: 9998;
	-webkit-transform: rotate(-2deg);
   	-moz-transform: rotate(-2deg);
   	transform: rotate(-2deg);
}

#photo_stack2{
background-image: url('../images/polaroid.png');
left: 15px;
 padding: 10px 10px 15px;
height: 150px;
width: 180px;
margin-bottom: 15px;
background-color: black;
border-left: 10px solid #FFF;
border-right: 10px solid #FFF;
border-top: 10px solid #FFF;
border-bottom: 35px solid #FFF;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	z-index: 9999;
}

ul.social{
width: 220px;
}

p.sub{
height: 47px;
overflow: hidden;
margin-bottom: 0;
padding-bottom: 0;
}

p.dots{
float: left;
margin: 0;
padding: 0;
}




