		<aside>
				<h2 class="grid_12 message_board clearfix">Promo</h2>
			</aside>

			<div class="hr grid_12 clearfix boxhr">&nbsp;</div>
<section id="left_col" class="grid_12">
<%= swf_tag "MultiFLARExample.swf" %>
</section>

