<!DOCTYPE html>
<html>
<head>
  <title>Seems like you stopped music!</title>
  <style type="text/css">
    body { background-color: #000000;color: #666; text-align: center; font-family: arial, sans-serif; }
    img{
    left:10%;
    width: 75%;
    height: 100%;
    right: 10%;
    }
    h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  </style>
</head>

<body>
  <%= image_tag('404.jpg') %>
</body>
</html>
