<% @videos.each do |video| %>

	<section id="left_col" class="grid_5">
	<article class="video">
		<%= raw video.body_html %>
		<p><h4 class="form_title">
		<% video.title %></h4></p>
	</article>
	</section>
<% end %>

<div class="hr dotted clearfix">&nbsp;</div>
<div><%= will_paginate @videos %></div>