<div class="inner">
				
									
					<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/video.png') %>
					<%= image_tag('/stylesheets/backend/assets/icons/big_icons/video_title.png',:id => 'big_title') %>
					</p>

</fieldset>
<div class="hr dotted clearfix">&nbsp;</div>
<div class="videos list" id="videos">
<%= render "lijst" %>
</section>
</section>
</div>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#video').addClass('current').html("<a><span>Video's</span></a>");
    });
  </script>
<% end %>
