<div class="inner">
				
									
					<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/video.png') %></p>

</fieldset>
<div class="hr dotted clearfix">&nbsp;</div>
<div class="videos list" id="videos">
<%= render "lijst" %>
</section>
</section>
</div>