 </div> <!-- end main -->
    
    <div id="sidebar" class="grid_4 omega">
    
        <aside class="widget">
            <h3>Gedeeld</h3>
            <ul>
            <% @sections.each do |section| %>
                <li><a href="#"><%= section.name %></a></li>
             <% end %>
             </ul>
        </aside> <!-- end widget -->
        <aside class="widget">
            <h3>Widget</h3>
            
            <p>
                Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.
                One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. 
            </p>
        </aside> <!-- end widget -->
    
    </div> <!-- end sidebar -->