$('form.new_contact').slideUp(500);
$('#contact_feedback').html('<article><p>Uw aanvraag werd succesvol ontvangen!</p><p>Wij nemen zo snel mogelijk contact op met u!</p><p>The Skarminkels!</p></article>');
