$('form.new_contact').slideUp(500);
$('#contact_feedback').html('<article><h2 class="grid_12 message_board clearfix">Bedankt!</h2><p>Uw aanvraag werd succesvol ontvangen!</p><p>Wij nemen zo snel mogelijk contact op met u!</p><p>The Skarminkels!</p></article>');
