<div class="breadcrumbs">
<div>&nbsp;</div>
<a href="/">Home</a> > Book us!</div>

<!-- =Message board -->
			<div>&nbsp;</div>
			<div class="hr grid_12 clearfix boxhr">&nbsp;</div>
<section id="left_col" class="grid_12">
<section id="contact_form">
<%= render 'form_stripped' %>
</section>
<div>&nbsp;</div>
</section>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.js"></script>
<script>
$("#contact_form_id").validate({
	errorLabelContainer: "#messageBox",
	success: "valid",
	onkeyup: true,
  	onclick: true,
});
</script>