<fieldset>
						<legend>Album</legend>
<%= form_for(@album) do |f| %>
    <p>
    <label>Name</label>
    <%= f.text_field :name,{:class=> "required",:minlength => "5"} %>
  	</p>
  	<p>
    <%= f.submit %>
  	</p>
<% end %>
</fieldset>