<div data-role="header" data-position="inline" data-backbtn="false">
	<h1>Detail</h1>
	<a href="/convert" data-icon="gear" class="ui-btn-right" data-transition="flip">Pagina's</a>
</div>


<div data-role="content">
<h3><%= pluralize(@album.pictures.size, "foto's")%></h3>
<% @album.pictures.each do |picture| %>
<a href="<%= '/pictures/show/' + picture.id.to_s %>">
<img class="float_left" title="" src="<%= picture.upload.url(:thumb)%>" alt="<%= @album.name %>" />
</a>
<% end %>
</div>
