<%= link_to("<< Back to list", {:action => 'list'}, :class => 'back-link') %>

<div class="update album">
<h2>Update Member</h2>

<%= form_for(:album, :url => {:action => 'update', :id => @album.id}) do |f| %>
	
	<%= render(:partial => 'form', :locals => {:f => f}) %>
	
		<div class="form-buttons">
		<%= submit_tag("Update Album")%>
	</div>
<% end %>
</div>