<aside>
		<h2 class="grid_12 message_board clearfix">Albums Overview</h2>
</aside>
<section id="left_col" class="grid_12">
<div class="hr dotted clearfix">&nbsp;</div>

<ul class="polaroids">
<% @albums.each do |album| %>
<section class="grid_2">
<li>
    <a title="<%= album.name %>" href="<%= 'albums/detail/' + album.id.to_s %>"><img src="<%= 'system/uploads/' + album.foto.to_s + '/medium/' + album.upload_file_name %>" /></a>
</li>
</section>
<% end %>
</ul>


</section>
