<div data-role="header" data-position="inline" data-backbtn="false">
	<h1>Photo's</h1>
	<a href="/convert" data-icon="gear" class="ui-btn-right" data-transition="flip">Pagina's</a>
</div>

<div data-role="content">
<ul class="polaroids">
<% @albums.each do |album| %>
<li>
    <a title="<%= album.name %>" href="<%= '/albums/detail/' + album.id.to_s %>"><img src="<%= '/system/uploads/' + album.foto.to_s + '/thumb/' + album.upload_file_name %>" /></a>
</li>

<% end %>
</ul>
</div>


