<div class="inner">
				
				<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/album.png') %>
									<%= image_tag('/stylesheets/backend/assets/icons/big_icons/album_title.png',:id => 'big_title') %>
									</p>
										<h1>New Synced Album</h1>
					
<a href="/allbums/list" class="button_link">&lt;&lt; Back to list</a>
<div>&nbsp;</div>
<%= render 'form' %>



</div>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#album').addClass('current').html("<a><span>Albums</span></a>");
    });
  </script>
<% end %>