<%= render :partial => 'show' %>
 <div class="inner">
<%= form_for Picture.new(:album_id => @album.id), :html => {:multipart => true, :id => "file_upload"} do |f| %>
  <%= f.hidden_field :album_id, "value" => @album.id %>
  <div id="uploader">
        <p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</p>
  </div>

  </div>
<% end %>
</div>


