<p>Automatische feedbackmail</p>

<h1>Beste, <%= @contact.name %></h1>

<h3>Uw contact details zijn :</h3>
<p></p>
<p><%= @contact.email %></p>
<p><%= @contact.tel %></p>
<p><%= @contact.info %></p>

<p>We nemen zo spoedig mogelijk contact op met u!</p>

