<%= link_to("<< Back to list", {:action => 'list'}, :class => 'back-link') %>

<div class="update member">
<h2>Update Member</h2>

<%= form_for(:band, :url => {:action => 'update', :id => @band.id}) do |f| %>
	
	<%= render(:partial => 'form', :locals => {:f => f}) %>
	
		<div class="form-buttons">
		<%= submit_tag("Update Member")%>
	</div>
<% end %>
</div>