<!-- =Message board -->
			<aside>
				<h2 class="grid_12 message_board clearfix">Admin Panel Band</h2>
			</aside>
<section id="left_col" class="grid_12">
<section id="contact_form">

<div class="hr dotted clearfix">&nbsp;</div>
<%= link_to("<< Back to list", {:action => 'list'}, :class => 'textlink') %>
<div class="hr dotted clearfix">&nbsp;</div>
<h4 class="form_title">Update Band Member</h4>
<div class="hr dotted clearfix">&nbsp;</div>
<%= form_for(:band ,:html => { :id => "contact_form_id" }, :url => {:action => 'update', :id => @band.id}) do |f| %>
	
	<%= render(:partial => 'form', :locals => {:f => f}) %>
	
		<%= submit_tag("Update",:class => "sendButton")%>

<% end %>
</section>
</section>