<div data-role="header" data-position="inline" data-backbtn="false">
	<h1>Band</h1>
	<a href="/convert" data-icon="gear" class="ui-btn-right" data-transition="flip">Pagina's</a>
</div>

<div data-role="content">
<% @bands.each do |band| %>
				<div data-role="collapsible" data-state="collapsed">
	<h3><%= band.name %></h3>
	<p><%= band.instrument %> dude!</p>
	<p><%= band.content %></p>
	
	</div>
<% end %>
</div>

