<div data-role="header">
  <h1>The Band!</h1>
</div>

<div data-role="content">
<% @bands.each do |band| %>
				<div data-role="collapsible" data-state="collapsed">
	<h3><%= band.name %></h3>
	<p><%= band.content %><%= image_tag('skarminkels_mobile.png',{:class => 'band_image'}) %></p>
	<p><%= band.instrument %> dude!</p>
	</div>
<% end %>
</div>
		
