<div class="new band">
<h2>Create Subject</h2>

<%= form_for(:band, :html => { :multipart => true }, :url => {:action => 'create'}) do |f| %>
	<%= render(:partial => 'form', :locals => {:f => f}) %>
<%= submit_tag("Create Member")%>
	</div>
<% end %>
</div>