<%= render "shared/error_messages" , :target => @subject %>
<fieldset>
						<legend>News</legend>
						
						<p>
						<label>Name:</label>
						<%= f.text_field(:name,{:class=> "required",:minlength => "5"})%>
						</p>
						<p>
						<label>Photo</label>
						<%= f.file_field(:photo,{:class => "styled_upload"})%>
						</p>
						
						<p>
						<label>Content</label><br/>
						<%= f.text_area(:content,{:class => "editor required"})%>
						</p>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#news').addClass('current').html("<a><span>News</span></a>");
    });
  </script>
<% end %>
						
						