<!-- =Message board -->
			<aside>
				<h2 class="grid_12 message_board clearfix">Admin Panel Subjects</h2>
			</aside>
<section id="left_col" class="grid_12">
<section id="contact_form">

<div class="hr dotted clearfix">&nbsp;</div>

<%= link_to("<< Back to list", {:action => 'list'}, :class => 'textlink') %>
<div class="hr dotted clearfix">&nbsp;</div>
<h4 class="form_title">Delete Subject</h4>
<div class="hr dotted clearfix">&nbsp;</div>

<%= form_for(:subject,:html => { :id => "contact_form_id" }, :url => {:action => 'destroy', :id => @subject.id}) do |f| %>
	<p>Are you sure you want to delete this record?</p>
	<p class="reference-name"><%= @subject.name %></p>
	<div class="form-buttons">
		<%= submit_tag("Delete",:class => "sendButton")%>
<% end %>
</section>
</section>