<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('p#news').html("<br>News").css('color','red');
    });
  </script>
<% end %>

<div class="breadcrumbs">
<div>&nbsp;</div>
<a href="/">Home</a> - <a href="/subjects/news">News</a></div>
<aside>
		<h2 class="grid_12 message_board clearfix">News Overview</h2>
</aside>

<div id="news">
<%= render "news" %>
</div>