<div class="inner">
				
									<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/album.png') %>
									<%= image_tag('/stylesheets/backend/assets/icons/big_icons/album_title.png',:id => 'big_title') %>
									</p>
<div class="hr dotted clearfix">&nbsp;</div>
<div class="albums list" id="albums">
<%= render "lijst" %>
</section>
</section>
</div>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#album').addClass('current').html("<a><span>Albums</span></a>");
    });
  </script>
<% end %>
