<!DOCTYPE html>
<html>
<head>
  <title>Skarminkels</title>
  <%= stylesheet_link_tag('960','ie','style',:media => 'all') %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
